grpcio>=1.47.0
grpcio-tools>=1.47.0
cygrpc
flask
pyOpenSSL
PyJWT
requests
more_itertools
prometheus-flask-exporter
waitress
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
cs3client>=1.1
