[Unit]
Description=WOPI Server for CERNBox
After=syslog.target

[Service]
Type=simple
User=cboxwopi
Group=def-cg
WorkingDirectory=/var/log/cernbox
ExecStart=/usr/bin/wopiserver.py
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
